.App {
  text-align: center;
}

*{
  background-color: black;
  color: white ;
}
.home{
  padding-top: 100px;
  width: 50%;
  margin: 0 auto;
}
.row{
  padding-top: 100px;
  display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
gap: 50px;
  
}
.card{
  width: auto;
  
}
.card img{
  width: 100%;
  object-fit: contain;
  height: 150px;
}
.hidden{
  display: none;
}
.display{
  display: block;
}